



 @media only screen and (min-width: 800px){
 			
 			html{
				height: 100vh !important;
				background-image: url('../image/bg_1.png');
				background-repeat: repeat;
			}

 			body{
 				margin:0 auto !important;
 				height: 90vh !important;
 				margin-top: 5vh !important;
 				background-color: rgba(0,0,0,0) !important;
 			}


			.main_page{
				height: 100% !important;
				width: 600px !important;
				margin: 0 auto !important;
			}

            .ui-page,.logo,.ui-footer {
                width: 600px !important;
                margin: 0 auto !important;
                position: relative !important;
                border-right: 0px solid lightgray !important;
                border-left: 0px solid lightgray outset !important;
            }

            .ui-content{
/*            	min-height: 100% !important;
*/            	height: 80% !important;
				min-height: 80% !important;
				border-radius: 10px !important;
/*            	height:67vh !important;
*/            }

            .logo{
/*            	height: 5vh !important;
*/            
				position: fixed;
				top:0;
				}



            .ui-page{
            	min-height: 0px !important;
            	padding-bottom: 0 !important;
            	padding-top: 0 !important;
            	
            	overflow-y:hidden; 
            	height:100% !important;
            	-webkit-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75) !important;
				-moz-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75) !important;
				box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.75) !important;
				border-radius: 10px !important;
/*            	overflow-y:hidden !important; 
            	height: 85vh !important;
				
/*            	height: 600px !important;*/
            	background-color: white !important;
           }
			  
			.ui-page::-webkit-scrollbar { 
			    display: none; 
			}
/*
			.ui-content::-webkit-scrollbar { 
			    display: none; 
			}*/

			.ui-footer{
            	position: absolute !important;
            	bottom: 0% !important;
            	border-radius: 10px;
/*            	height: 8vh !important;
*/            }
			.ui-footer div{
				border-radius: 10px;
			}

			.ui-footer li{
				border-radius: 10px;
			}

			.ui-controlgroup-controls {
				width: 100% !important;
			} 

			#forgetpwd-submit {
				width: 100% !important;
			}

			#forgetpwd-tologin {
				width: 100% !important;
			}

			.ui-listview .ui-li-desc {
				white-space: normal !important;
			}

            /*.logo{
            	margin-top: 10vh !important;
            }


            body{
 				box-shadow: 10px 10px 10px black;
 				margin:0 auto !important;
 			}*/

        }
}


.ui-radio-on{
	background-color: pink !important;
}

.logo{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

h1{
	font-family: "Lobster Two",Helvetica;
	color:#9D8189;
}

h2{
	text-align: center;
	font-family: Arial;
	font-size: 25px;
	margin: autp;
/*	top: 50%;
	vertical-align: middle;
	line-height: 200px;*/
}

.eatery{
 	text-align: center;
}



.home-buttons{
	position: absolute;
	display: block;
	top: 60%;
	width: 100%;
/*	margin-top: auto;*/
}

.back img{
	width: 80%;
}

#payment_suggestion_sell:hover{
	cursor: pointer;
}

#payment_suggestion:hover{
	cursor: pointer;
}

#buy-button{
/*	height: 40%;
*/}

.centered{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.ui-widget-header {
	background: lightblue;
	color: #333333;
	font-weight: bold;
	border:none;
}

.ui-widget-content{
	border:none;
	height: 10px;
}

.ui-footer.ui-fixed-hidden {
    position: fixed !important;
}

#progress_bar_2{
	margin-top: 8%;
}

#progress_bar_3{
	margin-top: 8%;
}

#progress_bar_4{
	margin-top: 8%;
}

#progress_bar_deliver{
	margin-top: 8%;
}

#progress_bar{
	margin-top: 6%;
	margin-bottom: 7.5%;
}

#progress_bar_2_sell{
	margin-top: 8%;
}

#progress_bar_3_sell{
	margin-top: 8%;
}

#progress_bar_4_sell{
	margin-top: 8%;
}

#progress_bar_deliver_sell{
	margin-top: 8%;
}

#progress_bar_sell{
	margin-top: 6%;
	margin-bottom: 7.5%;
}

ul li a p{
	text-align: center;
}
ul li a p{
	margin:0;
}

.ui-menu-item{
	background-color: white;
}

#bottom_ul li a img{
	margin-top: 5px;
}

.login-button{
	width: 100%;
	margin-top: 20px;
}

#profile-name-in{
	border: none;
	border-bottom: 1px solid #989797;
	box-shadow: none;
	background-color: #f9f9f9;
	font-size: 1em;
}

#profile-email-in{
	border: none;
	border-bottom: 1px solid #989797;
	box-shadow: none;
	background-color: #f9f9f9;
	font-size: 1em;
}

.profile-info{
	font-size: 1em;
	border: none;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #989797;
	text-align: left;

}

#profile-name{
	background-image: url('../css/pencil.png');
	background-position: 10px 5px;
	background-size: 23px;
	padding-left: 40px;
/*	height: 20px;
	width: 20px;*/
	background-repeat: no-repeat;
	left: 10px;
}

#profile-contact{
	background-image: url('../css/pencil.png');
	background-position: 10px 5px;
	background-size: 23px;
	padding-left: 40px;
	margin-top: 10px;
/*	height: 20px;
	width: 20px;*/
	background-repeat: no-repeat;
	left: 10px;
}

#profile-email{
/*	background-image: url('../css/pencil.png');
	background-position: 10px 5px;
	background-size: 23px;
	padding-left: 40px;*/
/*	height: 20px;
	width: 20px;*/
/*	background-repeat: no-repeat;*/
	left: 10px;
	font-size: 1em;
	border: none;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;

}

.half-input{
	width: 60%;
}

.pub-prvt{
	text-align: left;
}

.ui-footer.ui-fixed-hidden {
	position: fixed !important;
}

.order-name{
	font-weight: 100;
	font-family: Arial;
	font-size: 1.1em;
}


*, *::before, *::after {
	box-sizing: inherit;
}

.ui-btn-me {
	box-shadow: none;
}

#reset-scd {
	display: none;
}
#reset-email {
	display: none;
}



.full_width{
	background-color: #ffe3e3; 
	margin-left: -16px;
	margin-right: -16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.map_shadow{
/*	position: absolute;
	width:343px;
	height:417px;*/
	 /*rgba(200,200,200,0.8);*/

	margin: 0;
	padding: 0;
	z-index: 5;
}

#north_shadow{
	background: 
		
		linear-gradient(
      		rgba(240, 240, 240, 0.5), 
      		rgba(240, 240, 240, 0.5)
    	),
    	url('../image/north_new.jpeg');

	height:117px;
	background-size: cover;

}

.click:hover{
	cursor: pointer;
}

.click{
	left:45% !important;
	top:45% !important;
}

#center_shadow{
	background: 
		
		linear-gradient(
      		rgba(240, 240, 240, 0.5), 
      		rgba(240, 240, 240, 0.5)
    	),
    	url('../image/center_new.jpeg');
	height:126px;
	background-size: cover;

}

#south_shadow{
	background: 
		
		linear-gradient(
      		rgba(240, 240, 240, 0.5), 
      		rgba(240, 240, 240, 0.5)
    	),
    	url('../image/south_new.jpeg');

    background-size: cover;
	height:99px;
}

.map_shadow p{
	margin: 0;
	padding-left: 3%;
	padding-top: 10%;
	font-size: 13px;
}

.map_shadow button{

	margin: 0;
	position: relative;
	left: 3%;
	top: 6%;
}

.campus_section_list li{
	margin: 0;
	padding:0;
}

.click{
	width: 50px;
}

.alert-dot {

}

#stars {
	font-size: 1.3em;
	color: #f57996;
	margin-bottom: 5px;
}

#join-label {
	font-size: 1.3em;
	font-weight: bold;
}

#deals-history {
	overflow: scroll;
	height: 200px;
}  

.ui-page .ui-content .ui-listview .ui-li-desc {
    white-space : normal!important;
}

/*#comment-box {
	width: 100%;
	background-color: #d8d8d8;
}*/
