<!DOCTYPE html>
<html>
<head>
<title>Canvass</title>
<link type="text/css" rel="stylesheet" href="static/css/Canvas.css" />

</head>

<body>

<script src="static/js/jquery-3.1.0.js"></script> 
<script type="text/javascript">

const ID_MAX = 999999;
const ID_MIN = 100000;

const SIZE = 31;
const LENGTH = 30;
const BLOCK_WIDTH = SIZE * LENGTH;
const BLOCK_HEIGHT = SIZE * LENGTH;

const VAL_VISIBLE = 0;
const STYLE_INVISIBLE = "#000000";
const STYLE_SWEPT = "#e0e0e0";
const STYLE_UNSWEPT = "#9e9e9e";

function isInRange(row, col, SIZE) {
    return (row >= 0 && row < SIZE && row >= 0 && col < SIZE);
}

function changeState(row, col, newState) {
    changeColor(row, col, STYLE_SWEPT)
}

function explore(row, col) {
    var newRow;
    var newCol;
    for (var i = -1; i < 2; i++) {
        newRow = row + i;
        for (var j = -1; j < 2; j++) {
            newCol = col + j;
            if (isInRange(newRow, newCol, SIZE)) {
                changeState(newRow, newCol, VAL_VISIBLE);
            }
        }
    }
    changeColor(row, col, STYLE_UNSWEPT);
}

var canvas = $('<canvas/>').attr({
    width: BLOCK_WIDTH + 2 * LENGTH,
    height: BLOCK_HEIGHT + 2 * LENGTH
}).appendTo('body');

var context = canvas.get(0).getContext("2d");

function drawBoard() {
    for (var x = 0; x <= BLOCK_WIDTH; x += 30) {
        context.moveTo(x + LENGTH, LENGTH);
        context.lineTo(x + LENGTH, BLOCK_HEIGHT + LENGTH);
    }

    for (var y = 0; y <= BLOCK_HEIGHT; y += 30) {
        context.moveTo(LENGTH, y + LENGTH);
        context.lineTo(BLOCK_WIDTH + LENGTH, y + LENGTH);
    }

    context.strokeStyle = "black";
    context.stroke();
}

drawBoard();

function changeColor(row, col, style) {
    context.fillStyle = style;
    context.fillRect((col + 1) * LENGTH, (row + 1) * LENGTH, LENGTH, LENGTH);

}

function getClickPosition(evt) {
    var col = parseInt(parseInt(evt.pageX.toString()) / 30) - 1;
    var row = parseInt(parseInt(evt.pageY.toString()) / 30) - 1;
    if (isInRange(row, col, SIZE)) {
        explore(row, col)
    }
}

document.addEventListener("mousedown", getClickPosition, false);


</script>
</body>
</html>