<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Mine</title>
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"/>
    <link href="static/css/font-awesome.css" rel="stylesheet" type="text/css"/>
</head>

<script type="text/javascript" src="static/js/jquery-3.1.0.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<script type="text/javascript" src="static/js/mine.js"></script>

<body onload="start()">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo">Mine</a></div>
</nav>

<div class="container" id="divOne">
    <center>
        <div class="section"></div>
        <h5 class="indigo-text">Join a mine room!</h5>
        <div class="section"></div>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <form class="col s12" method="post">

                    <div class="row">
                        <div class="col s12">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" name="ID" id="ID" placeholder="ID" readonly/>
                            <label for="ID">ID</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input class="active" type="number" name="room" id="room" placeholder="0000"/>
                            <label for="room">Room number</label>
                        </div>
                    </div>

                    <center>
                        <div class="row">
                            <button type="button" name="join" id="btn" class="col s12 btn btn-large waves-effect indigo"
                                    onclick="init()">Join
                            </button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </center>
</div>

<div class="container" id="divTwo" style="display: none;">
    <center>
        <div class="section"></div>
        <h5 class="indigo-text">Looking for players...</h5>
        <div class="section"></div>

        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </center>
</div>

<div class="container" id="divThree" style="display: none">
</div>
</body>
</html>
